---
title: "Bhread Verification"
date: 2023-09-21T00:11:05+08:00
tags: ["first"]
author: "elpachongco"
showToc: true
TocOpen: false
draft: false
hidemeta: false
description: "Verification to join bhread.com"
ShowRssButtonInSectionTermList: true
UseHugoToc: true
# cover:
#     image: "<image path/url>" # image path/url
#     alt: "<alt text>" # alt text
#     caption: "<text>" # display caption under cover
#     relative: false # when using page bundles set this to true
#     hidden: true # only hide on current single page
---

Hello World! I'm joining bhread.com as [bhread](https://bhread.com/feeds/bhread/verification)
